.page {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  width: 100%;
  max-width: 880px;
  min-width: 320px;
  margin: 0 auto;
  padding-top: 45px;
  color: #fff;
  background-color: #000;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 720px) {
  .page {
    padding-top: 28px;
  }
}
