.profile {
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
}

@media screen and (max-width: 880px) {
  .profile {
    flex-direction: column;
  }
}

@media screen and (max-width: 621px) {
  .profile {
    margin-bottom: 36px;
  }
}
